<ion-view title={{quiz.topic}}>
  <ion-content class="has-header">
    <h1>Quiz</h1>

    <ion-list>
      <ion-item ng-repeat="problem in problems">
      {{problem._id}}: {{problem.question}}
        <br>
        <div class="radio">
          <input required
                name="_id{{problem._id}}"
                type="radio"
                value="true"
                ng-model="problem.userChoice"
                ng-change="$parent.checkUserChoice(problem._id, true)"/>
          <label for="_id{{problem._id}}">True</label>
          <br/>
          <input required
                name="_id{{problem._id}}"
                type="radio"
                ng-value="false"
                ng-model="problem.userChoice"
                ng-change="$parent.checkUserChoice(problem._id, false)"/>
          <label for="_id{{problem._id}}">False</label>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
