<ion-view title="Quiz">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
      <button class="button button-clear button-positive" ng-click="showMeResult()">
          Finish
      </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <form name="quiz">
      <!--true-false-->
      <quiz-truefalse problem-id="1"></quiz-truefalse>
      <quiz-truefalse problem-id="2"></quiz-truefalse>
      <!--multi-choice-->
      <quiz-multichoice problem-id="3"></quiz-multichoice>
    </form>


  </ion-content>
</ion-view>
