<ul class="list">
  <div ng-repeat="problem in $parent.getFilteredProblem(problemId)">
  {{problem._id}}: {{problem.question}}
    <li class="item item-checkbox" ng-repeat="choice in problem.choices">
      <label class="checkbox">
      <input required
            name="_id{{problem._id}}"
            type="radio"
            value="{{choice._id}}"
            ng-model="problem.userChoice"
            ng-change="$parent.$parent.checkUserChoice(problem._id, choice._id)"/>
      </label>
      <div class="item-contnet" for="_id{{problem._id}}">{{choice.choice}}</div>
    </div>
  </li>
  <div ng-include src="'/templates/partials/quiz-choice-response.html'"></div>
</ul>
