<ul class="list">
  <div ng-repeat="problem in $parent.getFilteredProblem(problemId)">
  {{problem._id}}: {{problem.question}}
  <li class="item item-checkbox">
      <label class="checkbox">
      <input required
            name="_id{{problem._id}}"
            type="radio"
            value="true"
            ng-model="problem.userChoice"
            ng-change="$parent.$parent.checkUserChoice(problem._id, true)"/>
      </label>
      <div class="item-content">True</div>
  </li>

  <li class="item item-checkbox">
      <label class="checkbox">
      <input required
            name="_id{{problem._id}}"
            type="radio"
            value="false"
            ng-model="problem.userChoice"
            ng-change="$parent.$parent.checkUserChoice(problem._id, true)"/>
      </label>
      <div class="item-content">False</div>
  </li>

  </div>
</ul>
