<ul class="list">
  <div class="single" ng-repeat="problem in $parent.getFilteredProblem(problemId)">
  <div class="item item-divider">
    <p>{{problem._id}}: {{problem.question}}</p>
  </div>
  <li class="item item-checkbox">
      <label class="checkbox">
      <input required
            name="_id{{problem._id}}"
            type="radio"
            value="true"
            ng-model="problem.userChoice"
            ng-change="$parent.$parent.$parent.checkUserChoice(problem._id, true)"/>
      </label>
      <div class="item-content">True</div>
  </li>

  <li class="item item-checkbox">
      <label class="checkbox">
      <input required
            name="_id{{problem._id}}"
            type="radio"
            value="false"
            ng-model="problem.userChoice"
            ng-change="$parent.$parent.$parent.checkUserChoice(problem._id, false)"/>
      </label>
      <div class="item-content">False</div>
  </li>
  <!--
  <div ng-include src="'/templates/partials/quiz-choice-response.html'"></div>
  </div>
  -->
</ul>
