<ul class="list">
  <div class="single" ng-repeat="problem in $parent.getFilteredProblem(problemId)">
  <div class="item item-divider">
    <p>{{problem._id}}: {{problem.question}}</p>
  </div>
    <li class="item item-checkbox" ng-repeat="choice in problem.choices">
      <label class="checkbox">
      <input required
            name="_id{{problem._id}}"
            type="radio"
            value="{{choice._id}}"
            ng-model="problem.userChoice"
            ng-change="$parent.$parent.$parent.checkUserChoice(problem._id, choice._id)"/>
      </label>
      <div class="item-contnet">{{choice.choice}}</div>
    </li>
    <!--
  <div ng-include src="'/templates/partials/quiz-choice-response.html'"></div>
  -->
  </div>
</ul>
